* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
      font-family: Courier New;
}

html, body, #root {
  margin: auto;
  padding: 0;
  width:100%;
  height:100%;

}

@mixin absolute-positioning($height, $width, $top, $left){
  height:$height;
  width:$width;
  top:$top;
  left:$left;
}

.App{
  background-color:#99ebff;
  margin:auto;
  width:100%;
  height:100%;
  max-width:750px;

  %div{
    position:relative;
    width:100%;
    height:90vh;
    top:0%;
    left:0%;
    overflow:hidden;

  }

  %button{
    button{
      position:absolute;
      text-align: center;
      background: #01d1d1;
      border: 1px solid #01d1d1;
      border-radius: 3px;
      box-sizing:border-box;
      box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
      color: #ffffff;
      cursor: pointer;
    }
    button:active{
      background: darken(#01a7a7, 20%);
      border-color: darken(#01a7a7, 25%);
    }
  }

  .sign-out, .go-back, .add-cards-btn{
    position: relative;
    @extend %button;
    z-index:5;
    button{
      border-radius: 0px;
      text-align: center;
      padding: 0;
      box-shadow: unset;
    }
  }

  .sign-out{
    float:left;
    @include absolute-positioning(10vh, 20%, 0%, 0%);
    button{
      @include absolute-positioning(50%, 50%, 0%, 0%);
      border-bottom-right-radius: 3px;
    }
  }

  .go-back{
    @include absolute-positioning(10vh, 20%, 0%, 90%)
    button{
      @include absolute-positioning(50%, 50%, 0%, 0%);
      border-bottom-left-radius: 3px;
    }
  }
  .add-cards-btn{
    @include absolute-positioning(10vh, 10%, 0%, 90%)
    button{
      @include absolute-positioning(50%, 100%, 0%, 0%);
      border-bottom-left-radius: 3px;
    }
  }

  .AuthPage{
    @extend %div;

    form{
      position:absolute;
      height:98%;
      width:98%;
      top:1%;
      left:1%;

      .errorMessage, input{
        position:absolute;
        text-align: center;
        border : 0;
        font-size: 1.5em;
      }
      button{font-size: 1.5em;}
      .errorMessage{
        font-size: 110%;
        color:#ff0000;
        text-shadow: 0px 0px 2px #770000;

        span{
          position:relative;
          top:40%;
          transform: translate(-50%, -50%);
        }

      }
      @extend %button;

      input:nth-of-type(1)  { @include absolute-positioning(10%, 90%, 10%, 5%); }
      input:nth-of-type(2)  { @include absolute-positioning(10%, 90%, 23%, 5%); }
      input:nth-of-type(3)  { @include absolute-positioning(10%, 90%, 36%, 5%); }
      .errorMessage         { @include absolute-positioning(8%, 80%, 46%, 10%); }
      button:nth-of-type(1) { @include absolute-positioning(12%, 85%, 54%, 7.5%); }
      button:nth-of-type(2) { @include absolute-positioning(12%, 85%, 69%, 7.5%); }
      button:nth-of-type(3) { @include absolute-positioning(12%, 85%, 84%, 7.5%); }

    }
  }


  .main-menu{
    @extend %div;
    position:relative;


    div{
      position:relative;
      text-align: center;
      display:flex;
      span{
        position:absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      div{
        position:relative;
        text-align: center;
        background: #01d1d1;
        border: 1px solid darken(#01a7a7, 2%);
        border-radius: 5px;
        box-sizing:border-box;
        box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
        color: #222222;
        cursor: pointer;
        span{
          position:absolute;
          top:50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .active{
        background: darken(#01a7a7, 10%);
        border-color: darken(#01a7a7, 15%);
        box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
        border-width: 5px;
        color: #ffffff;
        font-weight: bolder;
      }
      div:active{
        background: darken(#01a7a7, 20%);
        border-color: darken(#01a7a7, 25%);
        color: #ffffff;
      }
    }

    .cards-types-header{  @include absolute-positioning(5%, 100%, 0, 0); }
    .cards-types-options{ @include absolute-positioning(20%, 100%, 0, 0); }
    .cards-focus-header{  @include absolute-positioning(2%, 100%, 3%, 0); }
    .cards-focus-options{ @include absolute-positioning(20%, 96%, 0, 2%); }
    .cards-front-header{  @include absolute-positioning(2%, 100%, 3%, 0); }
    .cards-front-options{ @include absolute-positioning(20%, 96%, 0, 2%); }
    .confirm-options{     @include absolute-positioning(25%, 96%, 0, 2%); }

    .cards-types-options{
      div{
        position:relative;
      }
      $opt-height: 80%;
      $opt-top: (100% - $opt-height)/2;
      $opt-width: 30%;
      $opt-left: (100% - $opt-width*3)/4;

      .verb-opt { @include absolute-positioning($opt-height, $opt-width, $opt-top, $opt-left); filter: hue-rotate(90deg); }
      .noun-opt { @include absolute-positioning($opt-height, $opt-width, $opt-top, ($opt-left*2)); filter: hue-rotate(180deg); }
      .adj-opt  { @include absolute-positioning($opt-height, $opt-width, $opt-top, ($opt-left*3)); filter: hue-rotate(270deg); }
    }

    $opt-height: 50%;
    $opt-top: (100% - $opt-height)/2;

    .cards-focus-options{
      $opt-width: 50%;
      $opt-left: 0;//(100% - $opt-width*2)/2;

      .all-opt{
        @include absolute-positioning($opt-height, $opt-width, $opt-top, $opt-left);
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
      .focus-opt{
        @include absolute-positioning($opt-height, $opt-width, $opt-top, $opt-left);
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }

    .cards-front-options{
      $opt-width: 33.33%;
      $opt-left: 0;

      .french-opt{
        @include absolute-positioning($opt-height, $opt-width, $opt-top, $opt-left);
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
      .both-opt{
        @include absolute-positioning($opt-height, $opt-width, $opt-top, $opt-left);
        border-radius:0;
      }
      .english-opt{
        @include absolute-positioning($opt-height, $opt-width, $opt-top, $opt-left);
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }

    .confirm-options{
      @extend %button;
      button{ @include absolute-positioning(70%, 70%, 15%, 15%); }
    }
  }


  .cards_deck{
    height:100% !important;
    top: -10vh;
    @extend %div;
    .left-gradient, .right-gradient{
        transition: 0.2s;
        transition-property: opacity;
        position:absolute;
        height:200%;
        width:50%;
        top:-50%;
        border-radius: 100%;
        opacity:0;
        -webkit-filter: blur(10px);
        z-index:3;
    }

    .left-gradient{
      left:-25%;
      background: radial-gradient(ellipse at center, rgba(255,25,25,1) 15%,rgba(255,25,25,0) 85%,rgba(255,25,25,0) 100%);
    }
    .right-gradient{
      left:75%;
      background: radial-gradient(ellipse at center, rgba(25,255,25,1) 15%,rgba(25,255,25,0) 85%,rgba(25,255,25,0) 100%);
    }
    .correct-box{
      color: rgba(25,125,25,1);
    }
    .wrong-box{
      color: rgba(125,25,25,1);
    }
    .correct-box, .wrong-box{
      transition: 0.2s;
      transition-property: opacity;
      position:absolute;
      height:20%;
      width:100%;
      top:80%;
      left:0%;
      opacity:0;
      box-sizing:border-box;
      font-size: 150%;
      text-align: center;
      text-shadow: 0px 0px 2px #000000;

      span{
        position:absolute;
        width:100%;
        top:50%;
        transform: translate(-50%, -50%);
      }

    }

    @extend %button;
    .end-of-stack{ @include absolute-positioning(20%, 40%, 40%, 30%); }

    .card{
      position:absolute;
      height:40%;
      width:80%;
      top:30%;
      left:10%;

      .flip-container {
        position:absolute;
        height: 100%;
        width: 100%;
      	perspective: 1000px;

        .flipped {
          transform: rotateY(180deg);
        }

        .flipper {
          @extend %div;
          height:100% !important;
        	transition: 0.6s;
        	transform-style: preserve-3d;
        	position: absolute;
          overflow: visible;

          .front, .back {
            position: absolute;
          	width: 90%;
          	height: 90%;
          	backface-visibility: hidden;

          	top: 5%;
          	left: 5%;

            background-color:#eeeeee;
            border: 5px solid #000000;
            border-radius: 10%;
            box-sizing:border-box;
            color: #111111;

            text-align: center;
            font-size: 200%;

            span{
              position:absolute;
              width: 90%;
              top:50%;
              transform: translate(-50%, -50%);
            }
          }

          .front {
          	z-index: 2;
          	transform: rotateY(0deg);
          }

          .back {
          	transform: rotateY(180deg);
          }
        }
      }

    }
  }



  .add-cards{
    @extend %div;
    height:100% !important;
    top: -10vh;

    form{
      position:absolute;
      height:98%;
      width:98%;
      top:1%;
      left:1%;

      .errorMessage, .resMessage, input{
        position:absolute;
        text-align: center;
        border : 0;
        font-size: 1.5em;
      }
      button{font-size: 1.5em;}
      .errorMessage, .resMessage{
        font-size: 120%;
        color:#ff0000;
        text-shadow: 0px 0px 2px #770000;

        span{
          position:relative;
          top:40%;
          transform: translate(-50%, -50%);
        }
      }
      .resMessage{
        color:#00cc00;
        text-shadow: 0px 0px 2px #004400;
      }
      @extend %button;

      input:nth-of-type(1)  { @include absolute-positioning(10%, 90%, 10%, 5%); }
      input:nth-of-type(2)  { @include absolute-positioning(10%, 90%, 23%, 5%); }
      .cards-types-header   { @include absolute-positioning(3%, 90%, 40%, 5%); }
      .cards-types-options  { @include absolute-positioning(20%, 90%, 40%, 5%); }
      .resMessage           { @include absolute-positioning(8%, 80%, 65%, 10%); }
      .errorMessage         { @include absolute-positioning(8%, 80%, 65%, 10%); }
      button:nth-of-type(1) { @include absolute-positioning(12%, 85%, 75%, 7.5%); }

      .cards-types-header, .cards-types-options{
        position:relative;
        text-align: center;
        display:flex;
        $opt-height: 80%;
        $opt-top: (100% - $opt-height)/2;
        $opt-width: 30%;
        $opt-left: (100% - $opt-width*3)/4;

        .verb-opt { @include absolute-positioning($opt-height, $opt-width, $opt-top, $opt-left); filter: hue-rotate(90deg); }
        .noun-opt { @include absolute-positioning($opt-height, $opt-width, $opt-top, ($opt-left*2)); filter: hue-rotate(180deg); }
        .adj-opt  { @include absolute-positioning($opt-height, $opt-width, $opt-top, ($opt-left*3)); filter: hue-rotate(270deg); }

        span{
          position:absolute;
          top:50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        div{
          position:relative;
          text-align: center;
          background: #01d1d1;
          border: 1px solid darken(#01a7a7, 2%);
          border-radius: 5px;
          box-sizing:border-box;
          box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
          color: #222222;
          cursor: pointer;
          span{
            position:absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        .active{
          background: darken(#01a7a7, 10%);
          border-color: darken(#01a7a7, 15%);
          box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
          border-width: 5px;
          color: #ffffff;
          font-weight: bolder;
        }
        div:active{
          background: darken(#01a7a7, 20%);
          border-color: darken(#01a7a7, 25%);
          color: #ffffff;
        }
      }



    }
  }



}
